<%= render @employee %>
<div>
  <%= link_to '<i class="fas fa-pen fa-lg"></i> Edit'.html_safe, edit_employee_path(@employee), class: "btn btn-primary mb-2"%>
  <%= link_to '<i class="far fa-hand-point-left fa-lg"></i> Back'.html_safe, employees_path, class: "btn btn-primary mb-2"%>
  <%= button_to '<i class="far fa-flushed fa-lg"></i> Desactive'.html_safe, @employee, method: :delete, class: "btn btn-danger"%>
</div>
