<p style="color: green"><%= notice %></p>

<h1>company_branches</h1>

<div id="company_branches">
  <% @company_branches.each do |company_branch| %>
    <%= render company_branch %>
    <p>
      <%= link_to "Show this company_branch", company_branch %>
    </p>
  <% end %>
</div>

<%= link_to "New company_branch", new_company_branch_path %>
