<h1>Company Branches</h1>
<div id="company_branches">
  <%= link_to "New company branch", new_company_branch_path, class: "btn btn-success" %>
  <table class="table table-striped mt-5 table-dark">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th></th>
    </tr>
    <% @company_branches.each do |company_branch| %>
      <tr>
        <td><%= company_branch.name %></td>
        <td><%= company_branch.address %></td>
        <td><%= link_to "Show", company_branch, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </table>
