<div id="<%= dom_id attendance %>">
  <p>
    <strong>Employee:</strong>
    <%= attendance.employee.name %>
  </p>
  <p>
    <strong>Check in:</strong>
    <%= attendance.check_in %>
  </p>
  <p>
    <strong>Check out:</strong>
    <%= attendance.check_out %>
  </p>
</div>
