<div id="<%= dom_id attendance %>">
  <p>
    <strong>Employee private number:</strong>
    <%= attendance.employee_private_number %>
  </p>

  <p>
    <strong>Check in:</strong>
    <%= attendance.check_in %>
  </p>

  <p>
    <strong>Check out:</strong>
    <%= attendance.check_out %>
  </p>

</div>
