<div class="row justify-content-center">
  <div class="col-sm-12 col-md-4">
    <h1>Attendance</h1>
    <%= render "form", attendance: @attendance %>
    <br>
    <h1 id="clock"></h1>
      <% if !user_signed_in? %>
        <%= link_to 'Admin Sign in', employees_path, class: "btn btn-primary login_button" %>
      <% end %>
  </div>
</div>
<script>
  function setClock() {
    clock.innerText = new Date().toLocaleTimeString()
  }
  setClock()
  setInterval(setClock, 1000)
</script>
